fastapi[standard]
uvloop; platform_system != "Windows"
beautifulsoup4
PyMuPDF
Pillow
numpy
aiohttp
requests
python-dotenv
groq
chromadb
transformers
sentence-transformers
langchain-core
langchain-groq
youtube-transcript-api
trafilatura
yt-dlp
whisper
pydub
ffmpeg-python
google-genai